@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --breakpoint-xs: 30rem;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@layer base {
  button {
    cursor: pointer;
  }
}
